.new-review {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.rating-button {
    background-color: cadetblue;
    border: none;
    cursor: pointer;

}


.rating-button:hover {
    background-color: dimgray;
}

